<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbhiTech - Home</title>
</head>
<body>
    <center>
        <h1>Hello <%= user.username %></h1>
        <h3>Email <%= user.email %></h3>
        <img src="<%= user.profilePicture %>" alt="Profile Picture" srcset="">
    </center>
</body>
</html>